body {
  font-family: "Raleway", sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 50%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
}

h1 {
  color: rgb(114, 114, 114);
  font-size: 55px;
  font-weight: 600;
  line-break: 28px;
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: rgb(114, 114, 114);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.container {
  margin-top: 30px;
}

.time {
  text-align: right;
  color: rgb(114, 114, 114);
}

.date {
  color: rgb(114, 114, 114);
}

.row {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 17px;
}

.weather-app {
  background-color: white;
  border: 1px solid rgb(138, 138, 138);
  border-radius: 5px;
  border-width: 2px;
  padding: 20px;
}

.weather-app-wrapper {
  margin: 20px auto;
  max-width: 700px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(114, 114, 114);
  font-size: 64px;
  font-weight: 900;
  line-height: 1;
}

.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 12px;
  text-align: center;
  color: rgb(114, 114, 114);
}

.forecast-date {
  font-size: 20px;
  color: rgb(114, 114, 114);
}

.forecast-temp {
  color: rgb(114, 114, 114);
  font-size: 17px;
}

.forecast-temp-min {
  opacity: 0.7;
}

.btn {
  background-color: rgb(107, 99, 116);
  border-color: rgb(132, 122, 143);
  color: white;
  font-family: "Raleway", sans-serif;
}

.btn:hover {
  background-color: rgb(178, 167, 190);
  border-color: rgb(110, 127, 145);
  color: white;
}

.fa {
  color: rgb(221, 115, 66);

  font-size: 22px;
  padding: 5px;
  margin-left: 10px;
}

.fa:hover {
  color: rgb(243, 152, 109);
  cursor: pointer;
}

.footer {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}
